body
{
    display: block;
    font-size: 20px;
    text-align: left;
    color: darkblue;
}

.circles
{
    width: 100%;
    
}

.circle
{
    border-radius: 50%;
}
.lime
{
    height: 100px;
    width: 100px;
    background-color: lime;
    position: relative;
}
.blue
{
    height: 60px;
    width: 60px;
    background-color: royalblue;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.gold
{
    height: 30px;
    width: 30px;
    background-color: gold;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}